/*
    css file
*/
#gamePanel {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.panel {
    height: 100%;
    border: 2px solid black;
    top: 0px;
    width: 33%;
    float: left;
    margin-left: -3px;
}

/*left panel*/
#resetGame {
    position: absolute;
    bottom: 0;
}

#technicianUpgradeCost {
    display: inline;
}

/*center panel*/
#burgerPatty {
    height: 300px;
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

#burgerPatty:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

#burgerPatty > img {
    width: 50%;
}

.pattyCount {
    display: inline;
}

/*right panel*/

.upgradeButton {
    position: relative;
    border: 1px solid grey;
    width: 98%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}

.upgradeText {
    text-align: center;
}